

.btn4{

  border-radius:;
  color: #cc444b;
  background-color: #cc444b;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all .4s ease-out;
}
.btn4:hover{
  color: #cc444b;
  background-color: whitesmoke;
}


.btn